/* Board */
.body{
   height: 100%;
}

/* 헤더 */

.header{
    position: fixed;
    width: 100%;
    height: 130px;
}

.header_bar{
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 60px;
    margin: auto;
    justify-content: space-between;
    background-color: white;
}

.logo img{
    width:130px;
    height:60px;
}

.header_icons{
    margin:auto 0;
    display: flex;
}

.header_icons img{
    width:40px;
    height:40px;
    cursor: pointer;
}

.logout_form{
    margin-left:auto;
}

.logout {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    align-items: center;
}


/* 메뉴바 */
.menu_bar{
    width: 100%;
    height:50px;
    margin:auto;
    background-color: rgb(50, 50, 50);
}

.menu_bar ul{
    display:flex;
    height:100%;
    list-style: none;
    color:white;
    font-size: 15pt;
    justify-content: center;
    padding:0;
}

.menu_bar ul li{
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_bar ul li a{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    color:aliceblue;
    font-weight: bold;
}

.menu_bar ul li a:hover{
    background-color: rgb(68, 114,196);
    cursor:pointer;
}

/* 본문 */
.container{
    width:100%;
    max-width: 1200px;
    height:auto;
    margin:auto;
    padding-top:130px
}

.page_title{
    font-size: 30pt;
    font-weight:bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:50px 0px;
}

.board{
    width:80%;
    margin:50px auto;
}

.board_info{
    display: flex;
    gap:15px;
    overflow: hidden;
    list-style: none;
    font-size:12pt;
    border-bottom:1px solid gray;
    padding: 10px;
}

.board_author{
    float: left;
    font-weight:bold;
}

.board_date{
    float: left;
}

.board_views{
    float: left;
}

.board_views img{
    width:20px;
    height:20px;
    margin:0px 5px 3px 0px;
}

.title{
    padding:10px;
}

.content{
    min-height: 100px;
    padding:10px;
    border-bottom: 1px solid gray;
}




/* 본문 버튼 */

.button_box{
    height:60px;
    display:flex;
    justify-content:flex-end;
    gap:10px;
}

.button_box button{
  width: 100px;
  height:40px;
  margin: auto 0px;
  border-radius: 5px;
  border: none;
  background-color: rgb(68, 114,196);
  color: white;
  font-weight: bold;
  font-size: 14pt;
}

.button_box back_btn{
    width: 100px;
    height: 40px;
    margin:auto 0;
    border-radius: 5px;
    border:none;
    background-color: rgb(68,114,196);
    color: white;
    font-weight:bold;
    font-size:14pt;
}

.button_box button:hover{
    color:white;
    background-color:rgb(83, 142, 243);
    cursor:pointer;
}

/* 댓글 */
.comments{
    height:auto;
    margin:auto;
    margin: 50px auto;
}

.comment_title{
    font-weight: bold;
    font-size:15pt;
}

#content{
    width: 100%;
    height: 90px;
    margin:15px auto;
    padding:10px;
    resize: none;
    outline: none;
    border-color:gray;
}

.comment{
    margin-bottom:40px;
    border-bottom:1px solid rgb(193,193,193);
}

.comment_info{
    display: flex;
    gap:5px;
    overflow: hidden;
    list-style: none;
    font-size:12pt;
    padding:0;
    margin:1px auto;
    align-items: center;
}

.comment_author{
    font-weight: bold;
}

.comment_author_mark{
    display: inline-block;
    border:1px solid rgb(68, 114,196);
    font-size: 10pt;
    color: rgb(68, 114,196);
    border-radius: 8px;
    padding: 2px 6px;
}

.comment_date{
    margin-top:5px;
}

.comment_content{
    padding:50px 0;
}

.comment_edit{
    width: 100%;
    height: 90px;
    margin:15px auto;
    padding:10px;
    resize: none;
    outline: none;
    border-color:gray;
    display:none;
}

/* 댓글 버튼 */
.write_button{
    display: flex; justify-content: flex-end;
}

.comment_create_btn{
    width: 100px;
    height:40px;
    border-radius: 5px;
    border:none;
    background-color: rgb(68, 114,196);
    color: white;
    font-weight: bold;
    font-size: 14pt;
    float:right;
}

.comment_btn{
    display: flex;
    justify-content:
    flex-end;
}

.comment_update_btn{
    cursor: pointer;
    background: none;
    font-size:11pt;
    border: none;
    color: black;
}

.comment_delete_btn{
    cursor: pointer;
    background: none;
    font-size:11pt;
    border: none;
    color: black;
}

.comment_update_save_btn{
    cursor: pointer;
    background: none;
    font-size:11pt;
    border: none;
    color: black;
    display:none;
}

/* 푸터 */
.footer{
    width:100%;
    height:200px;
    margin:auto;
    display : flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(50,50,50);
}

.footer img{
    width:150px;
    height:70px;
    margin-right: 50px;
}

.footer p{
    text-align:center;
    color:white;
}



/* notice */
.body{
   height: 100%;
}

/* 헤더 */

.header{
    position: fixed;
    width: 100%;
    height: 130px;
}

.header_bar{
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 60px;
    margin: auto;
    justify-content: space-between;
    background-color: white;
}

.logo img{
    width:130px;
    height:60px;
}

.header_icons{
    margin:auto 0;
    display: flex;
}

.header_icons img{
    width:40px;
    height:40px;
    cursor: pointer;
}

.logout_form{
    margin-left:auto;
}

.logout {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    align-items: center;
}


/* 메뉴바 */
.menu_bar{
    width: 100%;
    height:50px;
    margin:auto;
    background-color: rgb(50, 50, 50);
}

.menu_bar ul{
    display:flex;
    height:100%;
    list-style: none;
    color:white;
    font-size: 15pt;
    justify-content: center;
    padding:0;
}

.menu_bar ul li{
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_bar ul li a{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    color:aliceblue;
    font-weight: bold;
}

.menu_bar ul li a:hover{
    background-color: rgb(68, 114,196);
    cursor:pointer;
}

/* 본문 */

.container{
    width:100%;
    max-width: 1200px;
    height:auto;
    margin:auto;
    padding-top:130px

}

.page_title{
    font-size: 30pt;
    font-weight:bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:50px 0px;

}

.notice{
    width:80%;
    margin:50px auto;

}

.notice_info{
    display: flex;
    gap:15px;
    overflow: hidden;
    list-style: none;
    font-size:12pt;
    border-bottom:1px solid gray;
    padding: 10px;
}

.notice_author{
    float: left;
    font-weight:bold;
}

.notice_date{
    float: left;
}

.notice_views{
    float: left;
}

.notice_views img{
    width:20px;
    height:20px;
    margin:0px 5px 3px 0px;
}

.title{
    padding:10px;
}

.content{
    min-height: 100px;
    padding:10px;
    border-bottom: 1px solid gray;
}




/* 본문 버튼 */

.button_box{
    height:60px;
    display:flex;
    justify-content:flex-end;
    gap:10px;
}

.button_box button{
  width: 100px;
  height:40px;
  margin: auto 0px;
  border-radius: 5px;
  border: none;
  background-color: rgb(68, 114,196);
  color: white;
  font-weight: bold;
  font-size: 14pt;
}

.button_box back_btn{
    width: 100px;
    height: 40px;
    margin:auto 0;
    border-radius: 5px;
    border:none;
    background-color: rgb(68,114,196);
    color: white;
    font-weight:bold;
    font-size:14pt;
}

.button_box button:hover{
    color:white;
    background-color:rgb(83, 142, 243);
    cursor:pointer;
}

/* 댓글 */
.comments{
    height:auto;
    margin:auto;
    margin: 50px auto;
}

.comment_title{
    font-weight: bold;
    font-size:15pt;
}

#content{
    width: 100%;
    height: 90px;
    margin:15px auto;
    padding:10px;
    resize: none;
    outline: none;
    border-color:gray;
}

.comment{
    margin-bottom:40px;
    border-bottom:1px solid rgb(193,193,193);
}

.comment_info{
    display: flex;
    gap:5px;
    overflow: hidden;
    list-style: none;
    font-size:12pt;
    padding:0;
    margin:1px auto;
    align-items: center;
}

.comment_author{
    font-weight: bold;
}

.comment_author_mark{
    display: inline-block;
    border:1px solid rgb(68, 114,196);
    font-size: 10pt;
    color: rgb(68, 114,196);
    border-radius: 8px;
    padding: 2px 6px;
}

.comment_date{
    margin-top:5px;
}

.comment_content{
    padding:50px 0;
}

.comment_edit{
    width: 100%;
    height: 90px;
    margin:15px auto;
    padding:10px;
    resize: none;
    outline: none;
    border-color:gray;
    display:none;
}

/* 댓글 버튼 */
.write_button{
    display: flex; justify-content: flex-end;
}

.comment_create_btn{
    width: 100px;
    height:40px;
    border-radius: 5px;
    border:none;
    background-color: rgb(68, 114,196);
    color: white;
    font-weight: bold;
    font-size: 14pt;
    float:right;
}

.comment_btn{
    display: flex;
    justify-content:
    flex-end;
}

.comment_update_btn{
    cursor: pointer;
    background: none;
    font-size:11pt;
    border: none;
    color: black;
}

.comment_delete_btn{
    cursor: pointer;
    background: none;
    font-size:11pt;
    border: none;
    color: black;
}

.comment_update_save_btn{
    cursor: pointer;
    background: none;
    font-size:11pt;
    border: none;
    color: black;
    display:none;
}

/* 푸터 */
.footer{
    width:100%;
    height:200px;
    margin:auto;
    display : flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(50,50,50);
}

.footer img{
    width:150px;
    height:70px;
    margin-right: 50px;
}

.footer p{
    text-align:center;
    color:white;
}