/* boardList */
.body{
   height: 100%;
   margin: 0;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* 헤더 */
.header{
    position: fixed;
    width: 100%;
    height: 130px;
}

.header_bar{
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 60px;
    margin: auto;
    justify-content: space-between;
    background-color: white;
}

.logo img{
    width:130px;
    height:60px;
}

.header_icons{
    margin:auto 0;
    display: flex;
}

.header_icons img{
    width:40px;
    height:40px;
    cursor: pointer;
}

.logout_form{
    margin-left:auto;
}

.logout {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    align-items: center;
}


/* 메뉴바 */
.menu_bar{
    width: 100%;
    height:50px;
    margin:auto;
    background-color: rgb(50, 50, 50);
}

.menu_bar ul{
    display:flex;
    height:100%;
    list-style: none;
    color:white;
    font-size: 15pt;
    justify-content: center;
    padding:0;
}

.menu_bar ul li{
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_bar ul li a{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    color:aliceblue;
    font-weight: bold;
}

.menu_bar ul li a:hover{
    background-color: rgb(68, 114,196);
    cursor:pointer;
}



/* 본문 */
.container{
    width:100%;
    max-width: 1200px;
    height: auto;
    min-height: 500px;
    margin: auto;
    padding-top: 130px;
    flex: 1;
}

.page_title{
    font-size: 30pt;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:50px;
}

.search{
    width:90%;
    margin:auto;
    margin-bottom:10px;
    text-align:right;
}

.search_type{
    height:35px;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 5px;
}

.search input{
    height:35px;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 5px;
}

.table{
    width:90%;
    text-align: center;
    margin:auto;
    border-collapse: collapse;
    table-layout: fixed;
}

.table thead th{
    border-top: 2px solid black;
    padding:10px;
}

.header_cell.title {
    width: 400px;
}

.table tbody td{
    border-bottom: 1px solid rgb(199, 199, 199);
    padding: 30px;
}

.body_cell.title {
    padding: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.body_cell.title a {
    text-decoration: none;
    color: inherit;
}

.body_cell.title:hover a {
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}



/* 작성버튼 */

.write_button{
    width:90%;
    height:60px;
    margin: 10px auto;
}

.write_button button{
    width: 100px;
    height:40px;
    float: right;
    margin-top:10px;
    border-radius: 5px;
    border:none;
    background-color: rgb(68, 114,196);
    color: white;
    font-weight: bold;
    font-size: 14pt;
}

.write_button button:hover{
    background-color: rgb(83, 142, 243);
    cursor:pointer;
}

/* 페이징 */
.pagination{
    width: 90%;
    margin: 10px auto 50px auto; /*상 우 하 좌*/
    display: flex;
    justify-content:
    center;
    gap: 15px;
    font-size:14pt;
    font-weight: bold
}

.pagination a{
    text-decoration:none;
    color: rgb(187, 187, 187);
}

.pagination a:hover{
    color: rgb(150, 150, 150)
    cursor:pointer;
}

.pagination span{
    color:rgb(109,109,109);
}

/* 푸터 */
.footer{
    width:100%;
    height:200px;
    margin:auto;
    display : flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(50,50,50);
}

.footer img{
    width:150px;
    height:70px;
    margin-right: 50px;
}

.footer p{
    text-align:center;
    color:white;
}



/* noticeList */
.body{
    height: 100%;
}

/* 헤더 */

.header{
    position: fixed;
    width: 100%;
    height: 130px;
}

.header_bar{
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 60px;
    margin: auto;
    justify-content: space-between;
    background-color: white;
}

.logo img{
    width:130px;
    height:60px;
}

.header_icons{
    margin:auto 0;
    display: flex;
}

.header_icons img{
    width:40px;
    height:40px;
    cursor: pointer;
}

.logout_form{
    margin-left:auto;
}

.logout {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    align-items: center;
}


/* 메뉴바 */
.menu_bar{
    width: 100%;
    height:50px;
    margin:auto;
    background-color: rgb(50, 50, 50);
}

.menu_bar ul{
    display:flex;
    height:100%;
    list-style: none;
    color:white;
    font-size: 15pt;
    justify-content: center;
    padding:0;
}

.menu_bar ul li{
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_bar ul li a{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    color:aliceblue;
    font-weight: bold;
}

.menu_bar ul li a:hover{
    background-color: rgb(68, 114,196);
    cursor:pointer;
}



/* 본문 */
.container{
    width:100%;
    max-width: 1200px;
    height: auto;
    min-height: 500px;
    margin: auto;
    padding-top: 130px;
}

.page_title{
    font-size: 30pt;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:50px;
}

.search{
    width:90%;
    margin:auto;
    margin-bottom:10px;
    text-align:right;
}

.search input{
    height:35px;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 5px;
}

.table{
    width:90%;
    text-align: center;
    margin:auto;
    border-collapse: collapse;
    table-layout: fixed;
}

.table thead th{
    border-top: 2px solid black;
    padding:10px;
}

.header_cell.title {
    width: 400px;
}

.table tbody td{
    border-bottom: 1px solid rgb(199, 199, 199);
    padding: 30px;
}

.body_cell.title {
    padding: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.body_cell.title a {
    text-decoration: none;
    color: inherit;
}

.body_cell.title:hover a {
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}



/* 작성버튼 */

.write_button{
    width:90%;
    height:60px;
    margin: 10px auto;
}

.write_button button{
    width: 100px;
    height:40px;
    float: right;
    margin-top:10px;
    border-radius: 5px;
    border:none;
    background-color: rgb(68, 114,196);
    color: white;
    font-weight: bold;
    font-size: 14pt;
}

.write_button button:hover{
    background-color: rgb(83, 142, 243);
    cursor:pointer;
}

/* 페이징 */
.pagination{
    width: 90%;
    margin: 10px auto 50px auto; /*상 우 하 좌*/
    display: flex;
    justify-content:center;
    gap: 15px;
    font-size:14pt;
    font-weight: bold
}

.pagination a{
    text-decoration:none;
    color: rgb(187, 187, 187);
}

.pagination a:hover{
    color: rgb(150, 150, 150)
    cursor:pointer;
}

.pagination span{
    color:rgb(109,109,109);
}

/* 푸터 */
.footer{
    width:100%;
    height:200px;
    margin:auto;
    display : flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(50,50,50);
}

.footer img{
    width:150px;
    height:70px;
    margin-right: 50px;
}

.footer p{
    text-align:center;
    color:white;
}