.body{
   height: 100%;
}

/* 헤더 */

.header{
    position: fixed;
    width: 100%;
    height: 130px;
}

.header_bar{
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 60px;
    margin: auto;
    justify-content: space-between;
    background-color: white;
}

.logo img{
    width:130px;
    height:60px;
}

.header_icons{
    margin:auto 0;
    display: flex;
}

.header_icons img{
    width:40px;
    height:40px;
    cursor: pointer;
}

.logout_form{
    margin-left:auto;
}

.logout {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    align-items: center;
}


/* 메뉴바 */
.menu_bar{
    width: 100%;
    height:50px;
    margin:auto;
    background-color: rgb(50, 50, 50);
}

.menu_bar ul{
    display:flex;
    height:100%;
    list-style: none;
    color:white;
    font-size: 15pt;
    justify-content: center;
    padding:0;
}

.menu_bar ul li{
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_bar ul li a{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    color:aliceblue;
    font-weight: bold;
}

.menu_bar ul li a:hover{
    background-color: rgb(68, 114,196);
    cursor:pointer;
}

/* 본문 */

.container{
    width:100%;
    max-width: 1200px;
    height: auto;
    min-height: 500px;
    margin: auto;
     padding-top:130px;
}

.container img{
    display:block;
    margin:auto;
    width:90%;
    height:90%;
    padding:50px;
}

.table_group{
    display: flex;
    gap:50px;
    padding-bottom:100px;
}

.community_table{
    width:50%;
}

.table_title{
    width:100%;
    margin:10px 0px;
    display: flex;
    justify-content: space-between;
}

.table_title span{
    font-weight: bold;
    font-size:14pt;
}

.table_title a{
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    background-color: rgb(233, 233, 233);
    text-decoration: none;
    color: black;
}

.table{
    width:100%;
    text-align: center;
    margin:auto;
    border-collapse: collapse;
    table-layout: fixed;
}

.table thead th {
    border-top: 2px solid black;
    border-bottom: 1px solid rgb(199, 199, 199);
    padding: 10px;
    text-align: center;
}

.header_cell title{
    width: 220px;
}


.table tbody td{
    border-bottom: 1px solid rgb(199, 199, 199);
    padding:15px;
}

.body_cell.title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.body_cell.title a{
    text-decoration: none;
    color: inherit;
}

 .body_cell.title:hover a{
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.notice_table{
    width:50%;
}

/* 페이징 */
.pagination{
  width: 90%;
  margin: 10px auto 50px auto; /*상 우 하 좌*/
  display: flex;
  justify-content:
  center;
  gap: 15px;
  font-size:14pt;
  font-weight: bold
}

.pagination a{
  text-decoration:none;
  color: rgb(187, 187, 187);
}

.pagination a:hover{
  color: rgb(150, 150, 150)
  cursor:pointer;
}

/* 푸터 */
.footer{
    width:100%;
    height:200px;
    margin:auto;
    display : flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(50,50,50);
}

.footer img{
    width:150px;
    height:70px;
    margin-right: 50px;
}

.footer p{
    text-align:center;
    color:white;
}