<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>공지사항 글 조회</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/board.css">
</head>
<body>
    <header class="header">
        <nav class="header_bar">
            <a href="/main" class="logo"><img src="/img/talkTown.png"></a>
            <div class="header_icons">
                <a href="/myPage" class="myPage" title ="myPage" sec:authorize="isAuthenticated()" ><img src="/img/myPage.png"></a>
                <a href="/login" class="login"title="login" sec:authorize="isAnonymous()"><img src ="/img/login.png"></a>
                <form method="post" class="logout_form" action="/api/logout" sec:authorize="isAuthenticated()">
                    <button type="submit" class="logout" title="logout" id="logout_btn">
                        <img src="/img/logout.png">
                    </button>
                </form>
            </div>
        </nav>
        <nav class="menu_bar">
            <ul>
                <li><a href="/boards" >Community</a></li>
                <li><a href="/notices">Notice</a></li>
                <li th:if="${#authorization.expression('hasRole(''ADMIN'')')}" ><a href="/admin">Admin</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <span class="page_title">Detail Page</span>
        <input type="hidden" id="notice_id" th:value="${notice.id}">
        <div class="notice">
            <ul class="notice_info">
                <li class="notice_author" th:text="${notice.author}"></li>
                <li class="notice_date" th:text="|${#temporals.format(notice.createdAt, 'yyyy-MM-dd HH:mm')}|"></li>
                <li class="notice_views"><img src="/img/views.png"><span th:text="${notice.views}"></span></li>
            </ul>
            <h2 class="title" th:text="${notice.title}"></h2>
            <div class="content" th:text="${notice.content}" ></div>
            <div class="button_box">
                <button type="button" id="modify_btn"th:if="${#authorization.expression('hasRole(''ADMIN'')')}"   th:onclick="|location.href='@{/updateNotice?id={noticeId}(noticeId=${notice.id})}'|">Update</button>
                <button type="button" id="delete_btn" th:if="${#authorization.expression('hasRole(''ADMIN'')')}" >Delete</button>
                <button type="button" id="back_btn" onclick="location.href='/notices'" style="">Back</button>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer">
            <img src="/img/talkTown.png">
            <p>© 2025 TalkTown. All rights reserved</p>
        </div>
    </footer>
<script src="/js/notice.js"></script>
<script src="/js/logout.js"></script>
</body>
</html>